# Python
__pycache__/
*.py[cod]
.Python

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/

# Dataset (too large for git)
data/raw/
train_data/images/
train_data/labels/
test_data/images/
test_data/labels/

# Model weights (submit separately)
*.pt
*.pth
*.h5
*.onnx

# Ultralytics cache
.ultralytics/

# Runs
runs/*/weights/

# OS
.DS_Store
Thumbs.db
